<div class="container">
    <div class="row m-3">
        <h5>You are logged in as {{username}}. <a href="/logout">Click here to log Out.</a></h5>
    </div>

    <br>
    <div class="row m-4">

        <div class="col-sm text-center">

            <img class="logo img-fluid" src="/assets/images/aja-logo@2x.png" alt="Aja App logo image">
            <h1>Welcome to your Aja Dashboard!</h1>

        </div>


        <div class="row m-4">

            <div class="col-sm text-center">

                <h4>Add a device:</h4>

                <form id="addPi" name="signup" method="post" action="/api/data/addPi">

                    <input name="mac_address" type="text" placeholder="Device ID" />

                    <input class="btn button" class="m-3" type="submit" value="Add" />

                </form>

            </div>

        </div>


        <br><Br>


        <div class="row">

            <div class="col-sm text-center">

                <img class="logo img-fluid" src="/assets/images/journal-entry@2x.png" alt="Aja App logo image">

                <h5>Showing data for device ID {{mac}}</h5>

                <h2><i class="far fa-lightbulb"></i> The light is on: {{light}}</h2>
                <div class="col-sm">
                    {{#if light}}
                    <btn class="btn btn-info" id="lightOff">Turn Off</btn>
                    {{/if}}

                    {{#unless light}}
                    <btn class="btn btn-info" id="lightOn">Turn On</btn>
                    {{/unless}}

                    <btn class="btn btn-info" id="getData">Get Data</btn>
                </div>

                <br>

                <h2><i class="fas fa-thermometer-half"></i> The temperature is: {{temp}}</h2>

            </div>

            <div class="col-sm text-center">
                <div id="piDiv" class="text-left">
                    {{!-- rPi data appended here --}}
                </div>
            </div>

        </div>

    </div>

    <script>

        let piData = [];

        $("#lightOn").on('click', function () {

            $.ajax({
                method: "PUT",
                url: "/api/data/light/1"
            }).then(function () {
                location.reload();
            });
        });


        $("#lightOff").on('click', function () {

            $.ajax({
                method: "PUT",
                url: "/api/data/light/0"
            }).then(function () {
                location.reload();
            });
        });

        $("#getData").on('click', function () {

            $.ajax({
                method: "GET",
                url: "/api/data/getData/getPi"
            }).then(function (response) {
                console.log(response);
            });
        });

        $(document).ready(function () {

            $(".pi").on('click', function () {
                console.log('hello');
            });

            $.ajax({
                method: "GET",
                url: "/api/data/getData/getPi"
            }).then(function (response) {
                console.log(response);
                for (let i = 0; i < response.length; i++) {
                    console.log(response[i]);
                    piData.push(response[i]);
                }
                console.log(piData);
                displayData(piData);
            });
        });

        let displayData = function (piData) {

            for (let i = 0; i < piData.length; i++) {
                let rpi = $('<div>').attr('id', piData[i].id);
                let rpiId = $('<h5>').text('ID: ' + piData[i].id);
                let rpiLight = $('<h5>');

                if (piData[i].light) {
                    rpiLight.text('Light: On');
                }
                else {
                    rpiLight.text('Light: Off');
                }

                let rpiTemp = $('<h5>').text('Temperature: ' + piData[i].temp + '\xB0' + 'F');

                let rpiButton = $('<btn>').addClass('btn btn-info pi').attr('id', piData[i].id).html('<i class="far fa-lightbulb"></i>');

                rpiId.appendTo(rpi);
                rpiLight.appendTo(rpi);
                rpiTemp.appendTo(rpi);
                rpiButton.appendTo(rpi);
                $('#piDiv').append(rpi);
            }
        }


    </script>