<h2>Dashboard</h2>
<h5>Hurray! you are logged in.</h5>
<h1>{{username}}</h1>



<form id="addPi" name="signup" method="post" action="/api/data/addPi">
    <label for="mac_address">Mac Address</label>
    <input name="mac_address" type="text" />
    <input class="btn btn-info" type="submit" value="Add Pi" />
</form>

{{#if light}}
<btn class="btn btn-info" id="lightOff">Turn Off</btn>
{{/if}}

{{#unless light}}
<btn class="btn btn-info" id="lightOn">Turn On</btn>
{{/unless}}

<h1>{{light}}</h1>
<h1>{{temp}}</h1>
<h1>{{mac}}</h1>



<script>
$("#lightOn").on('click', function(){

    $.ajax({
        method: "PUT",
        url: "/api/data/light/1"
    }).then(location.reload());
});

$("#lightOff").on('click', function(){

    $.ajax({
        method: "PUT",
        url: "/api/data/light/0"
    }).then(location.reload());
});
</script>