    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <h1>{{username}}</h1>

    <form id="addPi" name="signup" method="post" action="/api/data/addPi">
          <label for="mac_address">Mac Address</label>
          <input name="mac_address" type="text" />
        <input class="btn" type="submit" value="Add Pi" />
    </form>
